.btn {
  padding: 5px 10px;
  border-radius: 4px;
  font-size: 1.2rem;
  cursor: pointer;
  border-width: 1px;
  border-style: solid;
}

.btn-light {
  color: var(--second-color);
  background-color: white;
  border-color: var(--second-color);
}

.btn-light:hover {
  background-color: #e1e1e1;
  color: black;
}

.btn-success {
  background-color: var(--success-color);
  color: white;
  border-color: var(--success-color);
}
