.message-list {
  margin: 15px 0;
  padding: 10px;
  border: 1px solid var(--second-color);
  border-radius: 4px;
}

.message,
.own-message {
  width: 60%;
  background-color: azure;
  color: var(--second-color);
  margin-bottom: 25px;
  padding: 10px;
  box-sizing: border-box;
  border: 1px solid var(--second-color);
  border-radius: 4px;
}

.message .message-text,
.own-message > .message-text {
  display: block;
  margin: 5px 0 10px;
  font-size: 1.2rem;
  line-height: 1.1;
}

.message {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
}

.message .message-user-avatar {
  width: 70px;
  height: 70px;
}

.message-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.message .message-liked {
  color: var(--success-color);
}

.message-user-name {
  margin-right: 10px;
  font-weight: bold;
  font-size: 1.1rem;
  color: #5d5656;
}

.message-edit-time {
  justify-self: flex-end;
}

.message-content {
  flex: 1 0;
  margin-left: 10px;
}

.message i {
  cursor: pointer;
}

.own-message {
  margin-left: 40%;
}

.message-delete {
  margin-right: 10px;
}
